<div class="login-div">
  <div class="login-borders">
    <button (click)="goHome()" class="close-button">&times;</button>
    <label class="login-email">
      <input type="email" name="email" id="email" class="login-password-input" required id="login" placeholder="...">
      <p id="test">Email</p>
    </label>
    <label class="input-password">
      <input type="password" name="password" id="password" placeholder="..." class="login-password-input" required>
      <p id="password-text">Password</p>
    </label>
    <div class="login-register">
      <input type="submit" value="Submit" (click)="goHome()" class="log-button">
      <div class="to_reg">
        Do not have accout?
        <a href="/register" class="reg-link">register</a>
      </div>
    </div>
  </div>
</div>
