<div class="container">
  <div class="find">
    <input type="text" placeholder="&#xF002; Поиск.." class="search-bar">
    <span class="paiful">
    <input type="checkbox" name="Платные" id="1" class="check-box">
    </span>
    <span class="free">
    <input type="checkbox" name="Бесплатные" id="2" class="check-box">
    </span>
    <input type="button" value="Искать" class="find-button">
  </div>
  <h1 class="online-courses">Онлайн курсы</h1>
  <div class="pick-theme">
    <form action="">
      <label>
        <input type="radio" name="course_name" id="3" class="radio-course-name" value="front" [(ngModel)]="course" #phoneTitle="ngModel">
        <span class="course-name">front</span>
      </label>
      <label>
        <input type="radio" name="course_name" id="4" class="radio-course-name" value="programmirovaniye" [(ngModel)]="course" #phoneTitle="ngModel">
        <span class="course-name">programmirovaniye</span>
      </label>
      <label>
        <input type="radio" name="course_name" id="5" class="radio-course-name" value="back" [(ngModel)]="course" #phoneTitle="ngModel">
        <span class="course-name">back</span>
      </label>
      <label>
        <input type="radio" name="course_name" id="6" class="radio-course-name" value="iOS Development" [(ngModel)]="course" #phoneTitle="ngModel">
        <span class="course-name">iOS Development</span>
      </label>
    </form>
  </div>
  <div class="gray-line"></div>
  <app-show-course></app-show-course>
</div>
